.projects-container {
    margin: 20px;
}

.projects-table {
    width: 100%;
    border-collapse: collapse;
}

.projects-table th, .projects-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* This will make the text wrap onto multiple lines */
    max-width: 200px; /* Adjust the maximum width of the text if needed */
}

.projects-table th {
    background-color: #f2f2f2;
}

.btn-active {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.btn-inactive {
    background-color: #ddd;
    color: #999;
    padding: 8px 12px;
    border: none;
    cursor: not-allowed;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
